ARSET - NASA Applied Science.url
Assignment_4_Data_Science_Fall_2020.pdf
Asthma Data Visualizations - CDC.url
Atmospheric Composition Analysis Group/points_in_region
Atmospheric Composition Analysis Group/points_in_region_rounded
Atmospheric Composition Analysis Group/V4NA03/ArcGIS/NA/PM25
Atmospheric Composition Analysis Group/V4NA03/NetCDF/NA/PM25
CDC data/500 Cities & Places
CDC data/U.S. Chronic Disease Indicators (CDI)
Data Analytics
EO4HEALTH — GEO Health CoP.url
GFED4s/GFED4.1s_1997.hdf5
GFED4s/GFED4.1s_1998.hdf5
GFED4s/GFED4.1s_1999.hdf5
GFED4s/GFED4.1s_2000.hdf5
GFED4s/GFED4.1s_2001.hdf5
GFED4s/GFED4.1s_2002.hdf5
GFED4s/GFED4.1s_2003.hdf5
GFED4s/GFED4.1s_2004.hdf5
GFED4s/GFED4.1s_2005.hdf5
GFED4s/GFED4.1s_2006.hdf5
GFED4s/GFED4.1s_2007.hdf5
GFED4s/GFED4.1s_2008.hdf5
GFED4s/GFED4.1s_2009.hdf5
GFED4s/GFED4.1s_2010.hdf5
GFED4s/GFED4.1s_2011.hdf5
GFED4s/GFED4.1s_2012.hdf5
GFED4s/GFED4.1s_2013.hdf5
GFED4s/GFED4.1s_2014.hdf5
GFED4s/GFED4.1s_2015.hdf5
GFED4s/GFED4.1s_2016.hdf5
GFED4s/GFED4.1s_2017_beta.hdf5
GFED4s/GFED4.1s_2018_beta.hdf5
GFED4s/GFED4.1s_2019_beta.hdf5
GFED4s/GFED4.1s_2020_beta.hdf5
GFED4s_timesArea
Global Annual PM2.5 Grids/data_0.01
Global Annual PM2.5 Grids/points_in_region
Gridded Population of the World
Natural Disasters - Our World in Data.url
code/area_test.py
code/read_pm2-5-outfiles/gwr_pm25_2016_nonnegative.tif
code/shapefiles/USA_states_counties
code/test.py
other/AMS presentation slides
other/disease
other/~$Research Brief.pptx
research papers
unused data sources
writeup
code/random_forest-outfiles/manually created/~$nEstimators_vs_R2.xlsx
