Gridded Population of the World
research papers
Data Analytics
other/disease
other/AMS presentation slides
GFED4s_timesArea
GFED4s/GFED4.1s_1997.hdf5
GFED4s/GFED4.1s_1998.hdf5
GFED4s/GFED4.1s_1999.hdf5
GFED4s/GFED4.1s_2000.hdf5
GFED4s/GFED4.1s_2001.hdf5
GFED4s/GFED4.1s_2002.hdf5
GFED4s/GFED4.1s_2003.hdf5
GFED4s/GFED4.1s_2004.hdf5
GFED4s/GFED4.1s_2005.hdf5
GFED4s/GFED4.1s_2006.hdf5
GFED4s/GFED4.1s_2007.hdf5
GFED4s/GFED4.1s_2008.hdf5
GFED4s/GFED4.1s_2009.hdf5
GFED4s/GFED4.1s_2010.hdf5
GFED4s/GFED4.1s_2011.hdf5
GFED4s/GFED4.1s_2012.hdf5
GFED4s/GFED4.1s_2013.hdf5
GFED4s/GFED4.1s_2014.hdf5
GFED4s/GFED4.1s_2015.hdf5
GFED4s/GFED4.1s_2016.hdf5
GFED4s/GFED4.1s_2017_beta.hdf5
GFED4s/GFED4.1s_2018_beta.hdf5
GFED4s/GFED4.1s_2019_beta.hdf5
GFED4s/GFED4.1s_2020_beta.hdf5
ARSET - NASA Applied Science.url
Assignment_4_Data_Science_Fall_2020.pdf
Asthma Data Visualizations - CDC.url
EO4HEALTH — GEO Health CoP.url
Natural Disasters - Our World in Data.url
code/test.py
